* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

body > * {
    padding-left: 15%;
    padding-right: 15%;
}

body > *, .body > * {
    padding-bottom: 16px;
    padding-top: 16px;
}

#first-page {
    min-height: 100%;
}

.two-panes {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.two-panes + .two-panes {
    padding-left: 4em;
}

#irc-details {
    display: block;
    margin-left: 4em;
}

#irc-details td + td{
    padding: 0 0 0 16px;
}

#irc {
    height: 100%;
    padding: 0;
    width: 100%;
}
