[Unit]
Description=ircd
Wants=mysql.service
After=network.target mysql.service

[Service]
Type=notify
User=oragono
WorkingDirectory=/home/oragono
ExecStart=/home/oragono/go/bin/oragono run --conf /home/oragono/ircd.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
