[Unit]
Description=stunnel proxy in front of the ircd
After=network.target

[Service]
Type=simple
User=oragono
WorkingDirectory=/home/oragono
ExecStart=/usr/bin/stunnel4 /etc/stunnel/ircd.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
