[Unit]
Description=webircgateway
After=network.target

[Service]
Type=simple
User=oragono
WorkingDirectory=/home/oragono
ExecStart=/home/oragono/go/bin/webircgateway -config /home/oragono/webircgateway.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
