[Unit]
Description=webircgateway
After=network.target

[Service]
Type=simple
User=webircgateway
WorkingDirectory=/home/webircgateway
ExecStart=/home/webircgateway/go/bin/webircgateway -config /home/webircgateway/webircgateway.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
